<div class="container">
  <% if user_signed_in? %>
    <div>
        <%= render "form", tweet: @tweet %>
        <%= render "users_to_follow" %>
    </div>
  <%end %>

  
  <h1 class="text-center">Tweets</h1>
  <%= render "post", tweet: @tweet %>

  <%= paginate @tweets %>
</div>

<div class="actions">
</div>

